/* base styles */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body{
    font-family: 'Roboto',sans-serif;
    color: #fff;
    height: 100vh;
}
/* header */
.signin{
    text-align: right;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.links{
    list-style: none;
    display: flex;
}
.link{
    text-decoration:none;
    color: rgba(30, 30, 30, 0.5);
    font-weight: 500px;
    font-size: 14px;
    transition: all 0.4s;

}

.link:hover {
    color: rgba(175, 62, 51, 1);  
}

.link-item{
    margin-right: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signin{
    margin-right: 20px;
    margin-top: 8px;
}



/* MAIN */

.main{
    text-align: center;
}

.photocrop{
    width: 90%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;   
}
.greeting{

    font-size: 20px;
    color: #1e1e1e;
    text-align: center;
    animation: fade-in 1s;
    margin-top: 50px;
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.greetsub{
    font-size: 10px;
    color: #1e1e1e;
    text-align: center;
    margin-top: 5px;   
}

/* footer */
.footer{
    text-align: center;
}
.sub{
    font-size: 15px;
    color: #1e1e1e;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 2px;  
    border-top: 2px solid rgba(30, 30, 30, 0.2); 
    padding-top: 20px;
}

.subsub{
    font-size: 10px;
    color: #1e1e1e;
    text-align: center;
    margin-top: 5px;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;   
}

.container:focus{
    opacity: 1;
}

.input{
    padding: 10px;
    font-size: 16px;
    width: 150px;
    height: 20px;
}

.join{
    width: 210px;
    padding: 10px;
    font-size: 16px;
    height: 45px; 
}

.join:hover{
    cursor: pointer;
    background-color: #af3e33;
}