<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/landingpage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;800;900&display=swap">
    <link rel="icon" href="../images/IMG_7029.png">
    <title>HairMaster</title>
</head>
<body>
    <main class="main">
        <img class='logo' src="../images/mail.png" alt="Logo" style="width: 200px; height: auto;">
        <div>
            <nav>
                <ul class="links">
                    <li class="link-item"><a class="link" href="../templates/landingpage.html">HOME</a></li>
                    <li class="link-item"><a class="link" href="../templates/viewservices.html">VIEW SERVICES</a></li>
                    <li class="link-item"><a class="link" href="../templates/bookappointment.html">BOOK APPOINTMENT</a></li>
                    <li class="link-item"><a class="link" href="../templates/aboutus.html">ABOUT US</a></li>
                </ul>
            </nav>
        </div>
        <div class="photocrop">
            <img class='photo' src="../images/hairimg.jpg" alt="photo">
        </div>
        <div>
            <p class="greeting">Welcome Akua!</p>
            <p class="greetsub">
                HairMaster offers simple haircare that is realistic and science-based.
                <div>You have great and relatable stylists who take their time to go detailed in the consultation service, educate and correct all that needs to be corrected.</div>
                <div>Kindly view services and book an appointment when you are ready.</div>
                <div>Enjoy!</div>
            </p>
        </div>
    </main>
    <footer class="footer">
        <div>
            <p class="sub">Sign up to receive exclusive haircare, visual and written content, get first dibs on discounts/specials, and appointment slots</p>
        </div>
        <p class="copyright">&copy; HairMaster 2024</p>
    </footer>
</body>
</html>
